body{
    margin: 0;
    padding: 0;
    border: 0;
}

.shop {
    display:flex;
    width:100%;
}

.bar {
    width:250px;
    height:100vh;
    position:fixed;
    border-style:solid;
}

.cat-list{
    list-style:none;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:0;
    height:100%;
}

.cat-list-item{
    border-style:solid;
    padding-top:30px;
    padding-bottom:30px;
    width:100%;
    text-align:center;
}

.cat-list-item-active{
    border-style:solid;
    padding-top:30px;
    padding-bottom:30px;
    width:100%;
    text-align:center;
    background-color: grey;
}

.panel-container {
    margin-left:250px;
}

.item-container {
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
}

.item{
    border-style:solid;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    width:250px;
    margin:0.5%;
}

.item-img{
    height:100px;
}

.card-overlay{
    width:100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    background-color: black;
    opacity: 0.7;
}

.card{
    background-color: white;
    position: fixed;
    width: 700px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-top: -200px; 
    margin-left: -350px;
}

.cart{
    background-color: white;
    position: fixed;
    width: 900px;
    height: 600px;
    top: 50%;
    left: 50%;
    margin-top: -300px; 
    margin-left: -450px;
}

.cart-bar{
    display:flex;
    flex-direction: row-reverse;
    align-items:center;
    border-style:solid;
}